.gameGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}